body {
  background-image: url('/src/photos/Brown\ Grey\ Creative\ Modern\ Online\ Portfolio\ \(3\).png');
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  width: 200px;
  height: 200px;
  overflow: hidden;
  opacity: 0.5;
}

.circular--portrait {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  border: solid pink 4px;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  margin-left: 150px;
}
.circular--portrait img {
  width: 100%;
  height: auto;
}
.container {
  display: flex;
  flex-wrap: wrap;
  /* align-content: space-between; */
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: -300px;
}
.right {
  align-items: flex-start;
}

.home-text {
  font-family: 'Lobster', sans-serif;
  color: white;
  font-size: 150px;
  text-align: left;
  margin-left: -125px;
  /* margin-left: -30vw; */
}

.buttons {
  position: relative;
  display: flexbox;
  /* flex-wrap: nowrap; */
  flex-direction: row;
  align-items: flex-end;
  /* justify-content: center; */
}

.button {
  position: absolute;
  bottom: 0;
  left: 0;
  /* flex-direction: row; */
}
