body {
  width: 100%;
}

.circular--portrait {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  border: solid #90e0ef 4px;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15vh;
  margin-left: 25%;
}
.circular--portrait img {
  width: 100%;
  height: auto;
}
.container {
  background-image: url('/src/photos/bluebackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.top {
  display: flex;
  justify-content: center;
}

.home-text {
  font-family: 'Lobster', sans-serif;
  color: white;
  font-size: 120px;
  text-align: left;
  margin-top: 20vh;
}

.button {
  width: 10%;
  background-color: white;
  height: 3rem;
  border: solid #90e0ef 3px;
  border-radius: 10px;
  font-weight: bolder;
}
a {
  text-decoration: none;
  color: #0077b6;
}

.bio {
  color: white;
  font-size: 50px;
  margin-left: 140px;
}
