* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-image: url('/src/photos/Brown\ Grey\ Creative\ Modern\ Online\ Portfolio\ \(3\).png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.circular--portrait {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  border: solid pink 4px;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  margin-left: 25%;
}
.circular--portrait img {
  width: 100%;
  height: auto;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.top {
  display: flex;
  justify-content: center;
}

.home-text {
  font-family: 'Lobster', sans-serif;
  color: white;
  font-size: 150px;
  text-align: left;
  margin-top: 10vh;
}

.button {
  width: 10%;
  background-color: white;
  height: 3rem;
  border: solid pink 3px;
  border-radius: 10px;
  font-weight: bolder;
}
a {
  text-decoration: none;
  color: hotpink;
}
